body, nav{
    background: linear-gradient(#1a1e35, black);
    color: white;
}
#image-header{
    width: 80px;
    height: 80px;
}
#Main-Logo {
    width: 300px;
    height: auto;
}
.btn{
    background-color: #7DF5F8;
    color: black;
}
#Info-Form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 18em;
    margin-bottom: 18em;
}
h1{
    display: flex;
    justify-content: center;
    /*font-size: 60px;*/
    font-family: 'Raleway';
    margin-top: 2em;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
}
p, h3{
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
}


